body {
    font-size: 14pt;
}
label {
    font-size: 110%
}

.story {
    margin-bottom: 7px;
    margin-top: 7px;
}
.alert.alert-info.loading {
    text-align: center;
    font-weight: bold;
}
.main-search {
    margin-bottom: 10px;
}