body {
    font-size: 14pt;
}
label {
    font-size: 110%;
}
.function-name-display {
    min-width: 5em;
}

.index-col {
    width: 5%;
}
.function-col {
    width: 30%;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
.inter-word {
    padding-left: 10px;
    padding-right:10px;
}
.btn.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}
.remove-button {
    width : 2em;
}

.btn-span:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.tooltip {
    visibility : auto;
}

td.result-string-box {
    word-wrap: break-word;
    width: 50%;
    word-break: break-all
}
span.result-string  {

}